.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}


/* Source Sans Pro!important */

.header img {
    height: 24px;
}

.logo {
    display: flex;
}

.headerList span {
    padding-left: 20px;
}

.headerList :first-child {
    color: #ef7338;
    border-bottom: 1px solid #ef7338;
    border-bottom-width: 2px;
    padding-bottom: 5px;
}

.containers {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-around;
    height: 500px;
    background-color: #f5efea;
}

.login_form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 23%;
    height: 90%;
}

.row {
    margin-top: 40px;
}

.col {
    text-align: center;
}

.row h2 {
    color: #ef7338;
}

.col-8 h4 {
    color: #ef7338;
}

.col-4 img {
    border-radius: 100px;
    height: 100px;
}

.card {
    border-radius: 7px;
    box-shadow: 0 0 20px 10px #f3f3f3;
    overflow: hidden;
    width: 400px;
    height: 400px;
}

.card__header,
.card__body {
    margin: 20px;
}

.card--primary .card__header {
    background: var(--color-primary);
}

.card--secondary .card__header {
    background: var(--color-secondary);
}

.card--primary .badge--primary {
    background: #126de4;
}

.card--secondary .badge--secondary {
    background: #02cdf1;
}

.card--color {
    border: 1px solid #ffc107;
    background-color: #fdf6ed;
}

.card__tag {
    text-align: center;
    padding: 10px;
}

.card__blueTag {
    background-color: #e2e3f3;
}

.card__yellowTag {
    background-color: #f5e9c7;
}

.card__orangeTag {
    background-color: #fdeae2;
}

.space {
    padding-right: 10px;
}


/* 

       PLANS

*/

.plan {
    transition: transform 0.2s ease-out;
}

.plan__name {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.plan__price {
    font-size: 30px;
}

.plan__blueColor {
    color: #596ebe;
}

.plan__yellowColor {
    color: #e5a032;
}

.plan__orangeColor {
    color: #ea5a01;
}

.plan__billing-cycle {
    font-size: 1rem;
    font-weight: 300;
    opacity: 0.8;
    margin-right: 1rem;
}

.plan__description {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
}

.plan .list__item {
    margin-bottom: 2rem;
}

.plan--popular .card__header {
    position: relative;
}

.plan--popular .card__header::before {
    content: url(../images/popular.svg);
    width: 40px;
    display: inline-block;
    position: absolute;
    top: -1px;
    right: 5%;
}

.plan:hover {
    transform: scale(1.05);
}

.plan--popular:hover {
    transform: scale(1.15);
}

.list {
    list-style: none;
    padding-left: 0;
    /* color: var(--color-headings); */
}

.list--inline .list__item {
    display: inline-block;
}

.list--tick {
    list-style-image: url(images/tick.svg);
    padding-left: 20px;
    font-size: 13px;
}

.list--tick li {
    padding-bottom: 10px;
}

.list--tick .list__item {
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}

.block-plans .grid {
    gap: 8rem 4rem;
}

.block-plans .card {
    max-width: 500px;
    margin: 0 auto;
}

.block-plans {
    margin-top: 100px;
}

.grid {
    display: grid;
}

.grid--1x3 {
    grid-template-columns: repeat(4, 1fr);
}

.footer {
    margin-top: 5rem;
}

.footer h4 {
    font-size: 18px;
    color: #ef7338;
}

.footer li {
    list-style-type: none;
    padding: 0;
}

.footer span {
    padding: 10px;
}

ul {
    padding: 0;
}

.formHeader {
    padding-bottom: 20px;
}

.footer__center {
    padding-left: 40px;
}

.footer__center li {
    padding-bottom: 10px;
}

.footer__center li:nth-child(2) {
    color: #ef7338;
}

.footer__right .loginForm__group {
    padding: 15px
}

.login__btn {
    width: 100%;
    margin-top: 20px;
}

.contact {
    display: flex;
}

.contact div:first-child {
    width: 170px;
    background-color: #e7f4f2;
    padding: 10px;
    color: #128c7e;
    margin-right: 20px;
}

.contact div:nth-child(2) {
    width: 170px;
    background-color: #eaf1ff;
    padding: 10px;
    color: #488dff;
}

.contact>div>i {
    padding-left: 10px;
    padding-right: 10px;
}

.footer__right ul {
    display: flex;
}

.footer__right li {
    width: 40px;
    height: 40px;
}

#otp_btn {
    cursor: pointer;
    color: #126de4;
    text-decoration: underline;
}

.statistics {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.column {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.column>h2 {
    color: #ef7338;
    font-size: 40px;
    font-weight: 600;
}

.left-section>h3 {
    font-size: 40px;
}

.left-section>h4 {
    color: #ef7338;
    font-weight: 700;
    font-size: 30px;
}

.right-section {
    width: 102px;
}

.right-section img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.benefit-section {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}

.made-section {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 450px;
    margin-bottom: 15px;
    font-weight: 600;
}

.made-text {
    width: 70%;
    text-align: right;
    margin-right: 18px;
}

.border-orange {
    width: 300px;
    height: 3px;
    background-color: #ef7338;
}

@media only screen and (max-width: 1200px) {
    body {
        overflow-x: hidden;
    }
    .block-plans {
        max-width: 1200px;
    }
    .block-plans .card {
        max-width: 300px;
        margin: 10px;
    }
    .block-plans .grid {
        gap: 9rem 3rem;
    }
}